.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(161, 161, 247);
}

.comment-box {
  width: 500px;
}
