.App {
  font-family: 'Roboto', sans-serif;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: lawngreen;
}

a:active {
  color: cyan;
}

/* HEADER */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Finger Paint', cursive;
  /* font-family: 'Lacquer', sans-serif; */
  font-size: 30px;
  height: 15vh;
  background-color: rgb(161, 161, 247);
}

.nav-title {
  height: auto;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(161, 161, 247);
  margin: rgb(161, 161, 247);
  height: 10vh;

}

.footer-p {
  padding: 5px;
  margin: 0px;
}

/* HOME */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: rgb(218, 184, 132);
}

/* MAIN COMPONENTS */
.all-topics, .show-topic, .show-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: rgb(218, 184, 132);
}

.topic-click {
  background-color: rgb(240, 135, 202);
  padding: 5px;
  border: 2px solid;
  width: 550px;
}

.post-click {
  background-color: rgb(240, 135, 202);
  padding: 5px;
  margin: 10px;
  border: 2px solid;
  width: 550px;
}

.comment {
  background-color: rgb(240, 135, 202);
  padding: 5px;
  margin: 10px;
  border: 2px solid;
  width: 550px;
}

.new-comment {
  background-color: rgb(152, 223, 117);
  margin: 0px;
  padding: 5px;

}
.comment-box {
  width: 500px;
}
